<div class="row" style="margin-top: 100px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="alert" [class]="alertType" *ngIf="showAlert" role="alert">
            {{alertMessage}}
        </div>
        <mat-card>
            <mat-card-title></mat-card-title>
            <mat-card-content>
                <mat-form-field class="col-md-12" appearance="fill">
                    <mat-label>Kullanıcı Adı</mat-label>
                    <input matInput id="username" [(ngModel)]="user.username">
                </mat-form-field>

                <mat-form-field class="col-md-12" appearance="fill">
                    <mat-label>Şifre</mat-label>
                    <input matInput id="password" type="password" [(ngModel)]="user.password">
                </mat-form-field>

                <mat-form-field class="col-md-12" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput id="email" type="email" [(ngModel)]="user.email">
                </mat-form-field>

                <mat-form-field class="col-md-12" appearance="fill">
                    <mat-label>Adı</mat-label>
                    <input matInput id=firstName [(ngModel)]="user.firstName">
                </mat-form-field>

                <mat-form-field class="col-md-12" appearance="fill">
                    <mat-label>Soyadı</mat-label>
                    <input matInput id=lastName [(ngModel)]="user.lastName">
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button type="submit" color="primary" (click)="signIn()">Kayıt Ol</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-4"></div>
</div>