<!-- <div class="container"> -->
<div class="alert alert-danger" *ngIf="showAlert" role="alert">
    This is a danger alert—check it out!
</div>
<div class="row">
    <div class="col-md-9">
        <div class="col-md-12">
            <mat-form-field appearance="fill" class="col-md-3">
                <mat-label>Title</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-md-9">
                <mat-label>Description</mat-label>
                <textarea rows="1" matInput></textarea>
            </mat-form-field>
        </div>
        <mat-list>
            <h1>Yapılacaklar</h1>
            <ng-container *ngFor="let task of uncompletedTasks;let i =index">
                <mat-list-item (click)="rowClicked(task)" [style.backgroundColor]="getColor(i)">
                    <mat-checkbox (change)="completeChanged($event,task)" [checked]="task.isCompleted" value="task">
                    </mat-checkbox>
                    <div mat-line><strong>{{task.title}}</strong></div>
                    <div mat-line> {{task.description}} </div>
                </mat-list-item>
            </ng-container>

            <mat-divider></mat-divider>

            <h1>Tamamlananlar</h1>
            <ng-container *ngFor="let task of completedTasks;let i =index">
                <mat-list-item (click)="rowClicked(task)" [style.backgroundColor]="getComplatedColor(i)">
                    <mat-checkbox (change)="completeChanged($event,task)" [checked]="task.isCompleted" value="task">
                    </mat-checkbox>
                    <div mat-line><strong>{{task.title}}</strong></div>
                    <div mat-line> {{task.description}} </div>
                </mat-list-item>
            </ng-container>
        </mat-list>
    </div>
    <div class="col-md-3">
        <app-task-update-partial [task]="selectedTask"></app-task-update-partial>
    </div>

</div>

<!-- </div> -->